@use "base/reset" as *;
@use "base/colors" as *;
@use "base/typography" as *;
@use "components/buttons.scss" as *;
@use "components/graphs.scss" as *;
@use "components/inputs.scss" as *;
@use "components/logo-divider.scss" as *;
@use "layouts/header.scss" as *;
@use "layouts/main.scss" as *;
@use "layouts/what.scss" as *;
@use "layouts/searching.scss" as *;
@use "layouts/conditions.scss" as *;
@use "layouts/danger.scss" as *;
@use "layouts/about.scss" as *;
@use "layouts/contact.scss" as *;
@use "layouts/ad.scss" as *;
@use "layouts/divider.scss" as *;
@use "layouts/form-footer.scss" as *;
@use "layouts/privacy.scss" as *;
@use "components/accordion.scss" as *;

html {
  scroll-behavior: smooth;
}

body {
  background: $light
    radial-gradient(100% 65% at 0% 0%, $light-darker 33%, $light) no-repeat;
  background-size: contain;
  margin: 0;
  overflow-x: clip;
}

section {
  overflow-x: clip;
}
