@use "base/reset" as *;
@use "base/colors" as *;
@use "base/typography" as *;
@use "components/buttons.scss" as *;
@use "components/graphs.scss" as *;
@use "components/inputs.scss" as *;
@use "layouts/header.scss" as *;
@use "layouts/hero.scss" as *;
@use "layouts/about.scss" as *;
@use "layouts/contact.scss" as *;
@use "layouts/ad.scss" as *;
@use "layouts/divider.scss" as *;
@use "layouts/footer.scss" as *;
@use "components/accordion.scss" as *;

body {
  background: $light radial-gradient(100% 65% at 0% 0%, $light-2 33%, $light)
    no-repeat;
  background-size: contain;
  overflow-x: clip;
}

.test {
  height: 100vh;
}
