.c-bar-graph.c-bar-graph-humidity
  .c-bar-graph__axis
    label Humidity
  .c-bar-graph__graph
    .o-bar.o-bar--grey
    .o-bar.o-bar--green 
    .o-bar.o-bar--red
    p 0%
    p 25%
    p 35%
    p 100%