section#faq.c-accordion
  h2 Have Questions?
  .c-accordion__wrapper
    .c-accordion__container
      input#c-accordion-q1.c-accordion-input(name='c-accordion-q1' type='checkbox')
      label.c-accordion-label(for='c-accordion-q1') Can I use this website as my only source for burn decisions?
      article.c-accordion-text
        p Use this site as a guide, but always follow your local laws and safety requirements
    .c-accordion__container
      input#c-accordion-q2.c-accordion-input(name='c-accordion-q2' type='checkbox')
      label.c-accordion-label(for='c-accordion-q2') How often are fire conditions updated?
      article.c-accordion-text
        p Data refreshes automatically throughout the day, especially during wildfire-risk periods.
    .c-accordion__container
      input#c-accordion-q3.c-accordion-input(name='c-accordion-q3' type='checkbox')
      label.c-accordion-label(for='c-accordion-q3') Does this include seasonal burn restrictions?
      article.c-accordion-text
        p Yes. When available, we display active county, state, or federal burn restrictions.
