@use "../base/colors" as *;
@use "../base/variables" as *;
@use "../base/mixins" as *;

.c-about {
  background: $lighter-grey;
  clip-path: polygon(0 0, 50% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%);
  padding: 10vh clamp(1.5em, 10vw, 5em);

  @include query($tablet) {
    padding: 15vh clamp(1.5em, 10vw, 10em);
  }

  &__responsibility {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4em;

    h4 {
      color: $black;
      flex: 0 1 100%;
      font-weight: 900;

      @include query($tablet) {
        flex: 0 1 40%;
      }
    }

    &--content {
      flex: 0 1 100%;

      @include query($tablet) {
        flex: 0 1 60%;
      }

      ul {
        margin-bottom: 1em;

        li {
          list-style: disc;
        }
      }
    }
  }
}
