@use "base/colors" as *;

.c-ad {
  background: url(../../images/safe-to-burn-wood.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 15vh;
  position: relative;
  width: 100vw;

  &::before {
    background: rgba($light, 0.5);
    backdrop-filter: blur(6px);
    content: "";
    height: 2em;
    inset: 0 auto auto 0;
    position: absolute;
    width: 100vw;
  }
}
