@use "../base/mixins" as *;
@use "../base/variables" as *;

.c-contact {
  padding: 2vh clamp(1.5em, 5vw, 2em) 7vh;

  @include query($laptop) {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 87vh;
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }
}
