@use "../base/colors" as *;
@use "../base/variables" as *;
@use "../base/mixins" as *;

.c-hero {
  align-items: center;
  display: grid;
  grid-template: 1fr / 1fr;
  padding: 2vh clamp(1.5em, 5vw, 2em) 7vh;

  @include query($phone) {
    flex-direction: row;
    height: 100%;
  }

  @include query($tablet) {
    gap: 2em;
  }

  @include query($laptop) {
    flex-direction: row;
    grid-template: 1fr / 2fr 3fr;
    min-height: 76vh;
    padding: 0 clamp(1.5em, 7vw, 4em);
  }

  &__img,
  &__content {
    flex: 1 1 100%;
  }

  &__img {
    align-items: center;
    display: flex;
    justify-content: center;

    img {
      width: 30vw;
    }
  }

  &__content {
    text-align: center;

    @include query($laptop) {
      text-align: left;
    }
  }

  &__details {
    display: grid;
    grid-template: 3fr 1.25fr 0.5fr 1fr / 1fr 1fr;

    svg {
      width: 40vw;
    }

    @include query($phone) {
      svg {
        width: 18vw;
      }
    }

    &--graph,
    &--current-location {
      align-items: center;
      display: flex;
    }

    &--graph {
      border-bottom: 2px solid $grey;
      grid-column: 1 / span 2;
      justify-content: space-around;
      text-align: center;
    }

    @include query($phone, portrait) {
      svg {
        width: 30vw;
      }
    }

    &--windspeed-key,
    &--humidity-key {
      border-bottom: 2px solid $grey;
      display: grid;
      padding: 1em 0;
    }

    ul {
      text-align: center;
      padding-left: 0;
      place-self: center;
    }

    &--divider {
      border-right: 2px solid $grey;
    }

    &--response {
      border: 2px solid $grey;
      grid-column: 1 / span 2;
      height: 100%;
      width: 100%;
    }
  }

  .c-safe {
    align-items: center;
    background: $green;
    display: flex;
    height: 100%;
    justify-content: center;
    text-transform: uppercase;
    width: 100%;
  }

  .c-unsafe {
    align-items: center;
    background: $red;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;

    h3 {
      color: $light;
    }
  }
}
