@use "../base/variables" as *;
@use "../base/mixins" as *;

.c-hero {
  align-items: center;
  display: grid;
  gap: 2em;
  grid-template: 1fr / 2fr 3fr;
  padding: 0 clamp(1.5em, 5vw, 2em);

  @include query($phone) {
    flex-direction: row;
    height: 100%;
  }

  @include query($laptop) {
    flex-direction: row;
    min-height: 76vh;
    padding: 0 clamp(1.5em, 7vw, 4em);
  }

  &__img,
  &__content {
    flex: 1 1 100%;
  }

  &__img {
    align-items: center;
    display: flex;
    justify-content: center;

    img {
      width: 30vw;
    }
  }

  &__content {
    text-align: center;

    @include query($phone) {
      text-align: left;
    }
  }
}
