@use "../base/colors" as *;
@use "../base/variables" as *;
@use "../base/mixins" as *;

.c-hero {
  align-items: center;
  display: grid;
  grid-template: 1fr / 1fr;
  padding: 2vh clamp(1.5em, 5vw, 2em) 7vh;

  @include query($phone) {
    flex-direction: row;
    height: 100%;
  }

  @include query($tablet) {
    gap: 2em;
  }

  @include query($laptop) {
    flex-direction: row;
    grid-template: 1fr / 2fr 3fr;
    min-height: 79vh;
    padding: 0 clamp(1.5em, 7vw, 4em);
  }

  &__img,
  &__content {
    flex: 1 1 100%;
  }

  &__img {
    align-items: center;
    display: flex;
    justify-content: center;

    img {
      width: 30vw;
    }
  }

  &__wrapper {
    text-align: center;

    @include query($laptop) {
      text-align: left;
    }

    h2,
    h3 {
      font-size: clamp(0.85em, 3vw, 1.25em);
      line-height: 1.3;
      margin-bottom: 1em;
      text-wrap: pretty;

      @include query($laptop) {
        font-size: 1.3vw;
      }
    }

    h2 {
      margin-bottom: 0.5em;
    }
  }
}
