@use "../base/colors" as *;
@use "../base/variables" as *;
@use "../base/mixins" as *;

.c-hero {
  align-items: center;
  display: grid;
  grid-template: 1fr / 1fr;
  padding: 2vh clamp(1.5em, 5vw, 2em) 7vh;

  @include query($phone) {
    flex-direction: row;
    height: 100%;
  }

  @include query($tablet) {
    gap: 2em;
  }

  @include query($laptop) {
    flex-direction: row;
    grid-template: 1fr / 2fr 3fr;
    min-height: 79vh;
    padding: 0 clamp(1.5em, 7vw, 4em);
  }

  &__img,
  &__content {
    flex: 1 1 100%;
  }

  &__img {
    align-items: center;
    display: flex;
    justify-content: center;

    img {
      width: 30vw;
    }
  }

  &__content {
    text-align: center;

    @include query($laptop) {
      text-align: left;
    }

    h2,
    h3 {
      font-size: clamp(0.85em, 3vw, 1.25em);
      line-height: 1.3;
      margin-bottom: 1em;
      text-wrap: pretty;

      @include query($laptop) {
        font-size: 1.3vw;
      }
    }

    h2 {
      margin-bottom: 0.5em;
    }
  }

  &__details {
    display: grid;
    grid-template: 3fr 1fr 0.6fr 1fr 1fr / 1fr 1fr;

    svg {
      width: 40vw;
    }

    @include query($phone) {
      svg {
        width: 16vw;
      }
    }

    &--graph,
    &--current-location {
      align-items: center;
      display: flex;
    }

    &--graph {
      border-bottom: 2px solid $grey;
      grid-column: 1 / span 2;
      justify-content: space-around;
      text-align: center;
    }

    @include query($phone, portrait) {
      svg {
        width: 30vw;
      }
    }

    &--windspeed-key,
    &--humidity-key {
      border-bottom: 2px solid $grey;
      display: grid;
    }

    ul {
      text-align: center;
      padding-left: 0;
      place-self: center;
    }

    &--location {
      align-items: center;
      display: grid;
      grid-column: 1 / span 2;
      text-align: center;
    }

    &--response {
      border: 2px solid $grey;
      grid-column: 1 / span 2;
      height: 100%;
      width: 100%;
    }

    &--alerts {
      grid-column: 1 / span 2;
      text-align: center;
      padding: 0.5em 0 0 0;
    }
  }

  .c-safe,
  .c-warning,
  .c-unsafe,
  .c-check {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
  }

  .c-check h3 {
    text-align: center;
  }

  .c-safe {
    background: $green;
    text-transform: uppercase;
  }

  .c-warning {
    background: $dark-orange;

    h3 {
      text-align: center;
    }
  }

  .c-unsafe {
    background: $red;

    h3 {
      color: $light;
      text-align: center;
    }
  }
}

.c-who-is {
  padding: 7vh 5vw 7vh;

  h2,
  p {
    text-align: center;
  }
}
