@use "../base/colors" as *;
@use "../base/variables" as *;
@use "../base/mixins" as *;

.c-main {
  background: url("../images/logo-shape-grain-mobile.png") no-repeat;
  background-position: 160% 0%;
  background-size: 70%;
  height: 100%;
  width: 100%;

  @include query($phone) {
    background-position: 220% 0%;
    background-size: 5%;
  }

  @include query($tablet) {
    background: url("../images/logo-shape-grain.png") no-repeat;
    background-position: 100% 0%;
    background-size: 50%;
  }

  @include query($desktop) {
    background-position: right 0%;
    background-size: 45%;
  }
}

b {
  color: $black;
}

.c-hero {
  align-items: center;
  display: grid;
  grid-template: 1fr 1fr / 3fr 1fr;
  min-height: 91vh;
  padding: 0 clamp(1.5em, 5vw, 2em);

  @include query($laptop) {
    flex-direction: row;
    grid-template: 1fr 1fr/ 3fr 2fr;
    padding: 0 clamp(1.5em, 7vw, 4em);
  }

  h2 {
    margin-bottom: 0.5em;
  }

  &__content {
    grid-column: 1;
    place-self: end start;

    @include query($laptop) {
      grid-row: 1 / span 2;
      place-self: center;
    }
  }

  &__btns {
    display: flex;
    flex-direction: column;
    gap: 1em;
    grid-column: 1;
    grid-row: 2;
    margin-bottom: 2em;
    place-self: end start;

    @include query($phone) {
      flex-direction: row;
    }

    @include query($laptop) {
      margin-bottom: 4em;
    }
  }
}

.c-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;

  @include query($tablet) {
    justify-content: center;
  }

  &__location {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.5em;

    @include query($tablet) {
      align-items: center;
      flex-direction: row;
      gap: 0;
      justify-content: space-between;
    }

    &--details {
      font-size: clamp(1.75em, 5vw, 3em);
      min-height: 3.25em;
    }

    &--search {
      display: flex;
      gap: 0.5em;
      margin-bottom: 0.5em;
    }
  }

  &__alerts {
    align-items: baseline;
    display: flex;
    gap: 1em;
    margin: 0 0 2em 0;

    h4,
    p {
      margin: 0;
    }
  }

  &__graphs {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0 0 2em 0;

    @include query($phone) {
      flex-direction: row;
      gap: 4em;
    }
  }

  &__graph {
    align-items: center;
    display: flex;
    flex-direction: row;

    @include query($phone) {
      flex: 1 0 33%;
    }

    svg {
      flex: 1 0 25%;

      @include query($phone) {
        flex: 1 0 45%;
      }
    }

    &--content {
      flex: 1 0 66%;

      @include query($phone) {
        flex: 1 0 55%;
      }

      h3 {
        font-size: clamp(1.75em, 7vw, 3.5em);
      }
    }

    .c-graph {
      width: 8em;
    }
  }

  &__details--response > div {
    align-items: baseline;
    display: flex;
    flex-direction: column;

    @include query($tablet) {
      flex-direction: row;
      gap: 2em;
    }

    & > div {
      align-items: center;
      display: flex;
      gap: 0.5em;

      p {
        margin: 0;
      }

      img {
        width: 1.5em;
      }
    }
  }

  .c-app__graph--air-quality {
    filter: grayscale(100);
  }
}
