@use "../base/colors" as *;
@use "../base/variables" as *;
@use "../base/mixins" as *;

.c-searching {
  padding: 10vh clamp(1.5em, 10vw, 5em);

  @include query($tablet) {
    padding: 15vh clamp(1.5em, 10vw, 10em);
  }

  h4 {
    font-weight: 900;
  }

  h4,
  p {
    color: $black;
  }

  &__reasons {
    display: flex;
    flex-wrap: wrap;
    text-align: center;

    h4 {
      flex: 1 0 100%;

      @include query($tablet) {
        flex: 0 1 50%;
        text-align: left;
        text-wrap: balance;
      }
    }

    &-icons {
      align-items: start;
      display: flex;
      flex: 1 0 100%;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 3em;
      padding: 0;
      row-gap: 2em;
      justify-content: center;

      @include query($tablet) {
        flex: 0 1 50%;
        margin-top: 0;
      }

      &--item {
        align-items: center;
        display: flex;
        flex: 0 1 50%;
        flex-direction: column;
        font-weight: bold;
        text-align: center;

        img {
          margin-bottom: 1em;
          max-width: 50px;

          @include query($tablet) {
            max-width: 80px;
          }
        }
      }
    }
  }

  &__results {
    background-position: center;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12vh 0;
    position: relative;
    text-align: center;

    &::before,
    &::after {
      background-color: $red;
      content: "";
      height: 100%;
      position: absolute;
      width: 100%;
    }

    &::before {
      clip-path: polygon(0 -50%, 45% 50%, 0 150%);
      translate: -50% 0;

      @include query($tablet) {
        clip-path: polygon(0 -50%, 60% 50%, 0 150%);
      }
    }

    &::after {
      clip-path: polygon(100% -50%, 55% 50%, 100% 150%);
      translate: 50% 0;

      @include query($tablet) {
        clip-path: polygon(100% -50%, 40% 50%, 100% 150%);
      }
    }

    h4 {
      color: $red;
      text-wrap: balance;
    }

    p {
      margin-bottom: 0;
    }

    &--phrase {
      margin: 2em 0;
    }
  }
}
