@use "../base/colors" as *;
@use "../base/variables" as *;
@use "../base/mixins" as *;

.c-what {
  background: linear-gradient(to bottom, $red, $dark-red);
  background-attachment: fixed;
  background-size: cover;
  clip-path: polygon(0% 0%, 33% 10%, 100% 0%, 100% 100%, 66% 90%, 0% 100%);
  padding: 25vh clamp(1.5em, 10vw, 5em);

  @include query($tablet) {
    background: url("../images/bg-grain.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 25vh clamp(1.5em, 10vw, 10em);
  }

  h2,
  p {
    text-align: center;
    text-wrap: pretty;
    color: $light;
  }
}
