@use "../base/colors" as *;
@use "../base/variables" as *;
@use "../base/mixins" as *;

.c-what {
  background: linear-gradient(to bottom, $red, $dark-red);
  background-attachment: fixed;
  background-size: cover;
  clip-path: polygon(0% 0%, 33% 10%, 100% 0%, 100% 100%, 66% 90%, 0% 100%);
  padding: 25vh clamp(1.5em, 10vw, 5em);

  @include query($tablet) {
    background: url("../images/bg-grain.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 25vh clamp(1.5em, 10vw, 10em);
  }

  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li {
    text-align: center;
    text-wrap: pretty;
    color: $light;
  }

  h4 {
    font-weight: bold;
    padding: 0 10vw;
    text-wrap: balance;
  }

  &__reasons {
    margin: 10em 0 0 0;

    ul {
      align-items: start;
      display: flex;
      flex-wrap: wrap;
      row-gap: 3em;
      justify-content: center;
      margin-top: 4em;

      li {
        align-items: center;
        display: flex;
        flex: 0 1 50%;
        flex-direction: column;
        font-weight: bold;
        font-size: 1.25em;

        @include query($tablet) {
          flex: 0 1 33%;
        }

        @include query($desktop) {
          flex: 0 1 20%;
        }

        img {
          margin-bottom: 1em;
          width: 80px;
        }
      }
    }
  }
}
