$black: #272727;
$blue: #1e6ade;
$dark-orange: #f87819;
$dark-red: #b13813;
$green: #cc9c50;
$grey: #b5b3b3;
$dark-grey: #6b6b6b;
$light: #f2ede9;
$light-hover: #e7e2dd;
$light-2: #dacbbf;
$light-orange: #e39b17;
$red: #bb3920;
$dark-red: #16100b;
$teal: #045451;
$white: #ffffff;
