$black: #272727;
$blue: #5e96eb;
$dark-orange: #f87819;
$dark-red: #b13813;
$green: #cc9c50;
$grey: #b5b3b3;
$dark-grey: #6b6b6b;
$light: #f2ede9;
$light-2: #dacbbf;
$light-orange: #e39b17;
$red: #c94c26;
$teal: #045451;
$white: #ffffff;
