@use "colors" as *;
@import url("https://use.typekit.net/qaj3ems.css");

$font-family: "stolzl", sans-serif;

h1,
h2,
h3,
h4,
p {
  color: $black;
  font-family: $font-family;
  line-height: 0.9;
  text-wrap: balance;
}

h1 {
  font-size: 3.5vw;
  font-weight: 700;
}

h2 {
  font-size: 3vw;
  font-weight: 400;
}

h3 {
  font-size: 2.5vw;
  font-weight: 400;
}

h4 {
  font-size: 2vw;
  font-weight: 700;
}

p {
  font-size: 1.6vw;
  line-height: 1.2;
  font-weight: 400;
}
