@use "colors" as *;
@use "variables" as *;
@use "mixins" as *;

$font-family: "Schibsted Grotesk", sans-serif;

h1,
h2,
h3,
h4,
p,
label,
input {
  color: $black;
  font-family: $font-family;
  text-wrap: pretty;
}

h1 {
  font-size: clamp(1.75em, 9.5vw, 2.25em);
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: 0.25em;

  @include query($tablet, portrait) {
    font-size: 7.5vw;
  }

  @include query($laptop) {
    font-size: 6.5vw;
  }
}

h2 {
  font-size: clamp(1.75em, 7vw, 3.5em);
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

h3,
.c-accordion-label {
  color: $dark-grey;
  font-size: 1.1em;
  font-weight: 400;

  @include query($laptop) {
    font-size: 2.5vw;
  }
}

h4 {
  color: $dark-grey;
  font-size: clamp(1.25em, 3vw, 1.5em);
  font-weight: 400;

  @include query($tablet, portrait) {
    font-size: 3vw;
  }

  @include query($laptop) {
    font-size: 1.6vw;
  }
}

p,
li,
th,
td {
  font-family: $font-family;
  line-height: 1.2;
  font-weight: 400;
}

p {
  color: $dark-grey;
  font-size: clamp(1em, 3vw, 1.25em);
  line-height: 1.3;
  margin-bottom: 1em;

  @include query($tablet, portrait) {
    font-size: 3vw;
  }

  @include query($laptop) {
    font-size: 1.4vw;
  }
}

th {
  font-weight: 900;
  text-align: left;
}

a {
  color: $red;
  text-decoration: none;
}

button {
  font-family: $font-family;
  font-size: 1em;
  font-weight: 700;

  @include query($tablet, portrait) {
    font-size: 2.8vw;
  }

  @include query($laptop) {
    font-size: 1.2vw;
  }
}

li {
  font-size: clamp(16px, 1.75vw, 2em);
  font-weight: 400;

  @include query($tablet, portrait) {
    font-size: 2.8vw;
  }

  @include query($laptop) {
    font-size: 1.4vw;
  }
}

li a {
  color: $red;
  transition: all 0.5s;

  &:hover,
  &:focus,
  &:active {
    color: $dark-red;
    transition: all 0.5s;
  }
}

label {
  font-weight: 800;
}

.u-small {
  font-size: 1em;
}
