@use "colors" as *;
@use "variables" as *;
@use "mixins" as *;
@import url("https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap");

$font-family: "Schibsted Grotesk", sans-serif;

h1,
h2,
h3,
h4,
p,
label,
input {
  color: $black;
  font-family: $font-family;
  line-height: 0.9;
  text-wrap: balance;
}

h1 {
  font-size: clamp(1.75em, 9.5vw, 2.25em);
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: 0.25em;

  @include query($laptop) {
    font-size: 4.5vw;
  }
}

h2 {
  font-size: clamp(1.75em, 8.5vw, 2.5em);
  font-weight: 900;
}

h3 {
  font-size: 2.5vw;
  font-weight: 400;
}

h4 {
  font-size: 2vw;
  font-weight: 700;
}

p,
li,
button {
  font-family: $font-family;
  line-height: 1.2;
  font-weight: 400;
}

p {
  font-size: clamp(1em, 3vw, 1.25em);
  line-height: 1.3;
  margin-bottom: 1em;

  @include query($laptop) {
    font-size: 1.6vw;
  }
}

li {
  font-size: 0.85em; // clamp(16px, 1.75vw, 2em)
  font-weight: 400;

  @include query($laptop) {
    font-size: 1em;
  }
}

li a {
  color: $red;
  transition: all 0.5s;

  &:hover,
  &:focus,
  &:active {
    color: $dark-red;
    transition: all 0.5s;
  }
}

label {
  font-weight: 800;
  margin-top: 12em;
}

.u-small {
  font-size: 1em;
}
