@use "../base/colors" as *;
@use "../base/variables" as *;
@use "../base/mixins" as *;

.c-accordion {
  display: flex;
  padding: 25vh clamp(1.5em, 10vw, 5em);

  @include query($tablet) {
    padding: 25vh clamp(1.5em, 10vw, 10em);
  }

  h2 {
    flex: 0 0 40%;
    margin-bottom: 1em;
  }

  &__wrapper {
    flex: 0 0 60%;
  }

  &__container {
    border-top: 1px solid $dark-grey;
  }

  &__container:last-of-type {
    border-bottom: 1px solid $dark-grey;
  }

  &-label {
    color: $black;
    cursor: pointer;
    display: block;
    font-size: clamp(1.25em, 3vw, 1.5em);
    font-weight: 900;
    padding: 0.5em 1em;
    position: relative;
    transition: background-color 0.15s ease-in-out;

    &:hover {
      background-color: $light-hover;
    }

    &:after {
      content: "+";
      display: block;
      height: 100%;
      inset: 0 0 auto auto;
      line-height: 2.25em;
      padding-top: 0.25em;
      position: absolute;
      text-align: center;
      transition: background-color 0.15s ease-in-out;
      width: 2em;
    }

    @include query($tablet, portrait) {
      font-size: 3vw;
    }

    @include query($laptop) {
      font-size: 1.6vw;
    }
  }

  &-input {
    &:checked {
      + {
        .c-accordion-label {
          &:after {
            content: "+";
            position: absolute;
            display: block;
            right: 0;
            top: 0;
            width: 2em;
            height: 100%;
            line-height: 2.25em;
            text-align: center;
            transition: background-color 0.15s ease-in-out;
            content: "-";
          }
        }
      }
      ~ {
        .c-accordion-text {
          height: auto;
          padding: 0.5em 1.5em;
          opacity: 1;
        }
      }
    }
    display: none;
  }
  &-text {
    opacity: 0;
    height: 0;
    transition: opacity 0.5s ease-in-out;
    overflow: hidden;
  }
  &-sub-text {
    opacity: 0;
    height: 0;
    margin-bottom: 0.5em;
    transition: opacity 0.5s ease-in-out;
    overflow: hidden;
    padding: 0 1em 0 2em;
  }
  &-sub {
    .c-accordion-input {
      &:checked {
        ~ {
          .c-accordion-sub-text {
            opacity: 1;
            height: auto;
          }
        }
        + {
          .c-accordion-label {
            &:after {
              left: 0;
              background: none;
            }
          }
          label {
            background: none;
          }
        }
      }
    }
    &-label {
      background: none;
      font-weight: 600;
      padding: 0.5em 2em;
      margin-bottom: 0;
      &:checked {
        background: none;
        border-bottom: 1px solid white;
      }
      &:after {
        left: 0;
        background: none;
      }
      &:hover {
        background: none;
      }
    }
  }
}
