@use "../base/colors" as *;

button {
  background: $red;
  border: none;
  color: $light;
  cursor: pointer;
  padding: 0.75em 1.25em;
  text-wrap: nowrap;

  &:hover,
  &:focus,
  &:active {
    background: $dark-red;
    transition: all 0.5s;
  }
}
