@use "../base/colors" as *;

button {
  background: $red;
  border: none;
  color: $light;
  cursor: pointer;
  min-height: 2em;
  padding: 0.75em 1.25em;
  text-wrap: nowrap;

  &:hover,
  &:focus,
  &:active {
    background: $dark-red;
    transition: all 0.5s;
  }
}

.btn-icon {
  padding: 0.75505em;

  img {
    aspect-ratio: 1;
    margin: 0;
    width: 1.2em;
  }
}

.c-btn-my-location {
  margin-bottom: 0.75em;
}
