@use "../base/colors" as *;

button {
  cursor: pointer;
  padding: 0;
  text-wrap: nowrap;
}

.c-btn-outline {
  border: 1px solid $red;
  border-radius: 50vw;
  color: $black;

  &:hover,
  &:focus,
  &:active {
    background: $red;
    color: $light;
    transition: all 0.5s;
  }
}

.c-btn-icon {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-right: 1em;
  transition: all 0.5s;

  img {
    aspect-ratio: 1;
    border-radius: 50vw;
    margin: 0.25em;
    padding: 0.5em;
    width: 2.5em;
    transition: all 0.5s;
  }

  &:hover img,
  &:focus img,
  &:active img {
    background: $light;
    transition: all 0.5s;
  }
}
