@use "../base/colors" as *;
@use "../base/mixins" as *;
@use "../base/variables" as *;

button {
  border: none;
  cursor: pointer;
  padding: 0;
  text-wrap: nowrap;
}

.c-btn-outline {
  background: none;
  border: 1px solid $red;
  border-radius: 50vw;
  color: $black;

  &:hover,
  &:focus,
  &:active {
    background: $red;
    color: $light;
    transition: all 0.5s;
  }
}

.c-btn-icon {
  align-items: center;
  display: flex;
  flex-direction: row;
  transition: all 0.5s;

  img {
    aspect-ratio: 1;
    border-radius: 50vw;
    margin: 0.25em;
    padding: 0.5em;
    width: 2.5em;
    transition: all 0.5s;
  }

  img + span {
    padding-right: 1em;
  }

  &:hover img,
  &:focus img,
  &:active img {
    background: $light;
    transition: all 0.5s;
  }
}

.c-btn-red {
  background: $red;
  border-radius: 50vw;
  transition: all 0.5s;

  &:hover,
  &:focus,
  &:active {
    background: $dark-red;
    color: $light;
    transition: all 0.5s;
  }

  &:hover img,
  &:focus img,
  &:active img {
    background: none;
    transition: all 0.5s;
  }
}

.c-btn-light {
  background: $light;
  border-radius: 50vw;
  padding: 0.5em 0;
  transition: all 0.5s;

  &:hover,
  &:focus,
  &:active {
    background: $light-darker;
    color: $black;
    transition: all 0.5s;
  }

  &:hover img,
  &:focus img,
  &:active img {
    background: none;
    transition: all 0.5s;
  }
}
