@use "../base/colors" as *;
@use "../base/typography" as *;

.c-graph-circle {
  stroke: $green;
  transition: stroke-dashoffset 1s ease-in-out;
}

.c-graph-empty {
  stroke: #b5b3b3;
}

.c-graph-icon {
  width: 4em;
}

.c-graph-text,
.c-graph-reading {
  fill: $black;
}

.c-graph-text {
  font: bold 4em $font-family;
}

.c-graph-reading {
  font: bold 2em $font-family;
}
