@use "../base/variables" as *;
@use "../base/colors" as *;
@use "../base/typography" as *;
@use "../base/mixins" as *;

input[type="search"] {
  background: $light;
  border: 1px solid $red;
  border-radius: 50vw;
  border-top: 1px solid $red;
  padding: 0.5em 1em;

  &::placeholder {
    font-family: $font-family;
  }
}

.focus-visible {
  outline: 2px solid $blue;
  outline-offset: 2px;
  transition-delay: 750ms;
}

.c-location-search__hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.c-location-search__container {
  display: flex;
  flex-direction: row;
  gap: 0.5em;

  @include query($tablet) {
    align-items: stretch;
    flex-direction: row;
    justify-content: center;
  }
}

.c-location-search__error {
  position: absolute;
}
