@use "../base/variables" as *;
@use "../base/typography" as *;
@use "../base/mixins" as *;

input[type="search"] {
  border: none;
  min-height: 2em;
  padding: 0.5505em 1.25em;

  @include query($phone) {
    width: 100%;
  }

  @include query($laptop) {
    width: 50%;
  }

  &::placeholder {
    font-family: $font-family;
  }
}

.c-location-search__hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.c-location-search__container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.5em 0 1em 0;

  @include query($tablet) {
    justify-content: start;
  }
}
