button {
  cursor: pointer;
  padding: 0;
  text-wrap: nowrap;
}

.c-btn-outline {
  background: none;
  border: 1px solid #bb3920;
  border-radius: 50vw;
  color: #272727;
}
.c-btn-outline:hover, .c-btn-outline:focus, .c-btn-outline:active {
  background: #bb3920;
  color: #f2ede9;
  transition: all 0.5s;
}

.c-btn-icon {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-right: 1em;
  transition: all 0.5s;
}
.c-btn-icon img {
  aspect-ratio: 1;
  border-radius: 50vw;
  margin: 0.25em;
  padding: 0.5em;
  width: 2.5em;
  transition: all 0.5s;
}
.c-btn-icon:hover img, .c-btn-icon:focus img, .c-btn-icon:active img {
  background: #f2ede9;
  transition: all 0.5s;
}