.u-section-padding {
  padding: 2vh clamp(1.5em, 5vw, 2em) 0;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .u-section-padding {
    padding: 0 clamp(1.5em, 7vw, 4em);
  }
}

h1,
h2,
h3,
h4,
p,
label,
input {
  color: #272727;
  font-family: "Schibsted Grotesk", sans-serif;
  text-wrap: balance;
}

h1 {
  font-size: clamp(1.75em, 9.5vw, 2.25em);
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: 0.25em;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  h1 {
    font-size: 6.5vw;
  }
}

h2 {
  font-size: clamp(1.75em, 7vw, 3.5em);
  font-weight: 900;
}

h3,
.c-accordion-label {
  color: #504e4e;
  font-size: 1.1em;
  font-weight: 400;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  h3,
.c-accordion-label {
    font-size: 2.5vw;
  }
}

h4 {
  color: #504e4e;
  font-size: 1.25em;
  font-weight: 400;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  h4 {
    font-size: 1.6vw;
  }
}

p,
li {
  font-family: "Schibsted Grotesk", sans-serif;
  line-height: 1.2;
  font-weight: 400;
}

p {
  color: #504e4e;
  font-size: clamp(1em, 3vw, 1.25em);
  line-height: 1.3;
  margin-bottom: 1em;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  p {
    font-size: 1.4vw;
  }
}

a {
  color: #bb3920;
  text-decoration: none;
}

button {
  font-family: "Schibsted Grotesk", sans-serif;
  font-size: 1em;
  font-weight: 700;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  button {
    font-size: 1.2vw;
  }
}

li {
  font-size: clamp(16px, 1.75vw, 2em);
  font-weight: 400;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  li {
    font-size: 1.4vw;
  }
}

li a {
  color: #bb3920;
  transition: all 0.5s;
}
li a:hover, li a:focus, li a:active {
  color: #16100b;
  transition: all 0.5s;
}

label {
  font-weight: 800;
}

.u-small {
  font-size: 0.75em;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .u-small {
    font-size: 1em;
  }
}

form {
  width: 100%;
}
@media screen and (min-width: 726px) and (orientation: landscape) {
  form {
    width: 25vw;
  }
}
@media screen and (min-width: 726px) and (orientation: portrait) {
  form {
    width: 60vw;
  }
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  form {
    width: 33vw;
  }
}

input[type=search] {
  background: #f2ede9;
  border: 1px solid #bb3920;
  border-radius: 50vw;
  border-top: 1px solid #bb3920;
  flex: 1 0 auto;
  padding: 0.5em 1em;
}
input[type=search]::placeholder {
  font-family: "Schibsted Grotesk", sans-serif;
  font-size: clamp(1em, 3vw, 1.5em);
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  input[type=search]::placeholder {
    font-size: 1.2vw;
  }
}
@media screen and (min-width: 1200px) and (orientation: landscape) {
  input[type=search]::placeholder {
    translate: 0 0.2vw;
  }
}

.focus-visible {
  outline: 2px solid #1e6ade;
  outline-offset: 2px;
  transition-delay: 750ms;
}

.c-location-search__hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.c-location-search__container {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}
@media screen and (min-width: 726px) and (orientation: landscape) {
  .c-location-search__container {
    align-items: stretch;
    flex-direction: row;
    justify-content: center;
  }
}

.c-location-search__error {
  position: absolute;
}