@import url("https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap");
h1,
h2,
h3,
h4,
p {
  color: #272727;
  font-family: "Schibsted Grotesk", sans-serif;
  line-height: 0.9;
  text-wrap: balance;
}

h1 {
  font-size: clamp(1.75em, 3.5vw, 2em);
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: 0.5em;
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3.5vw;
  }
}

h2 {
  font-size: 3vw;
  font-weight: 400;
}

h3 {
  font-size: 2.5vw;
  font-weight: 400;
}

h4 {
  font-size: 2vw;
  font-weight: 700;
}

p,
li,
button {
  font-family: "Schibsted Grotesk", sans-serif;
  line-height: 1.2;
  font-weight: 400;
}

p {
  font-size: 1em;
  line-height: 1.3;
  margin-bottom: 1em;
}
@media screen and (min-width: 1024px) {
  p {
    font-size: 1.6vw;
  }
}

li {
  font-size: 0.85em;
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  li {
    font-size: 1em;
  }
}

li a {
  color: #c94c26;
  transition: all 0.5s;
}
li a:hover, li a:focus, li a:active {
  color: #045451;
  transition: all 0.5s;
}

input[type=text] {
  border: none;
  padding: 0.5505em 1.25em;
  width: 75%;
}
@media screen and (min-width: 480px) {
  input[type=text] {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  input[type=text] {
    width: 50%;
  }
}
input[type=text]::placeholder {
  font-family: "Schibsted Grotesk", sans-serif;
}