.u-section-padding {
  padding: 2vh clamp(1.5em, 5vw, 2em) 0;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .u-section-padding {
    padding: 0 clamp(1.5em, 7vw, 4em);
  }
}

.c-logo-divider {
  display: flex;
  justify-content: center;
  padding: 2vh clamp(1.5em, 5vw, 2em) 7vh;
}
.c-logo-divider img {
  width: 15vw;
}
@media screen and (min-width: 726px) and (orientation: landscape) {
  .c-logo-divider {
    padding: 10vh 15vw;
  }
  .c-logo-divider img {
    width: 5vw;
  }
}
@media screen and (min-width: 726px) and (orientation: portrait) {
  .c-logo-divider img {
    width: 10vw;
  }
}