h1,
h2,
h3,
h4,
p,
label,
input {
  color: #272727;
  font-family: "Schibsted Grotesk", sans-serif;
  text-wrap: balance;
}

h1 {
  font-size: clamp(1.75em, 9.5vw, 2.25em);
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: 0.25em;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  h1 {
    font-size: 4.5vw;
  }
}

h2 {
  font-size: clamp(1.75em, 7vw, 2.5em);
  font-weight: 900;
}

h3,
.c-accordion-label {
  font-size: 1.1em;
  font-weight: 400;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  h3,
.c-accordion-label {
    font-size: 1.5vw;
  }
}

h4 {
  font-size: 1.25em;
  font-weight: 700;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  h4 {
    font-size: 1.6vw;
  }
}

p,
li,
button {
  font-family: "Schibsted Grotesk", sans-serif;
  line-height: 1.2;
  font-weight: 400;
}

p {
  font-size: clamp(1em, 3vw, 1.25em);
  line-height: 1.3;
  margin-bottom: 1em;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  p {
    font-size: 1.4vw;
  }
}

a {
  color: #c94c26;
  text-decoration: underline;
}

li {
  font-size: clamp(16px, 1.75vw, 2em);
  font-weight: 400;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  li {
    font-size: 1.4vw;
  }
}

li a {
  color: #c94c26;
  transition: all 0.5s;
}
li a:hover, li a:focus, li a:active {
  color: #b13813;
  transition: all 0.5s;
}

label {
  font-weight: 800;
}

.u-small {
  font-size: 0.75em;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .u-small {
    font-size: 1em;
  }
}