.c-about {
  padding: 2vh clamp(1.5em, 5vw, 2em) 7vh;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .c-about {
    display: flex;
    flex-direction: column;
    min-height: 87vh;
    justify-content: center;
    padding: 7vh 15vw;
  }
}
.c-about ul {
  margin-bottom: 1em;
}
.c-about ul li {
  list-style: disc;
}