.u-section-padding {
  padding: 2vh clamp(1.5em, 5vw, 2em) 0;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .u-section-padding {
    padding: 0 clamp(1.5em, 7vw, 4em);
  }
}

.c-form-footer {
  background: url("../images/bg-grain.png") no-repeat;
  background-attachment: fixed;
  background-size: fill;
  clip-path: polygon(0% 0%, 50% 10%, 100% 0%, 100% 100%, 66% 100%, 0% 100%);
  padding: 15vh clamp(1.5em, 5vw, 2em) 1em;
}
@media screen and (min-width: 726px) and (orientation: landscape) {
  .c-form-footer {
    padding: 10vh 15vw 1em;
  }
}
@media screen and (min-width: 726px) and (orientation: portrait) {
  .c-form-footer {
    padding: 10vh 15vw 7vh 15vw;
  }
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .c-form-footer {
    padding: 15vh 15vw 1em;
  }
}
.c-form-footer h2,
.c-form-footer p,
.c-form-footer label,
.c-form-footer a {
  color: #f2ede9;
}
.c-form-footer a {
  font-weight: 700;
  text-decoration: underline;
}
@media screen and (min-width: 726px) and (orientation: landscape) {
  .c-form-footer__contact {
    padding: 0 15vw;
  }
}
.c-form-footer__contact h2,
.c-form-footer__contact p {
  text-align: center;
}
.c-form-footer__contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.c-form-footer__contact form input {
  margin-bottom: 1em;
}
.c-form-footer__contact form button {
  margin-top: 1em;
}
.c-form-footer__disclaimer {
  margin-top: 5vw;
  text-align: center;
}