.u-section-padding {
  padding: 2vh clamp(1.5em, 5vw, 2em) 0;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .u-section-padding {
    padding: 0 clamp(1.5em, 7vw, 4em);
  }
}

h1,
h2,
h3,
h4,
p,
label,
input {
  color: #272727;
  font-family: "Schibsted Grotesk", sans-serif;
  text-wrap: balance;
}

h1 {
  font-size: clamp(1.75em, 9.5vw, 2.25em);
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: 0.25em;
}
@media screen and (min-width: 726px) and (orientation: portrait) {
  h1 {
    font-size: 7.5vw;
  }
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  h1 {
    font-size: 6.5vw;
  }
}

h2 {
  font-size: clamp(1.75em, 7vw, 3.5em);
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

h3,
.c-accordion-label {
  color: #504e4e;
  font-size: 1.1em;
  font-weight: 400;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  h3,
.c-accordion-label {
    font-size: 2.5vw;
  }
}

h4 {
  color: #504e4e;
  font-size: clamp(1.25em, 3vw, 1.5em);
  font-weight: 400;
}
@media screen and (min-width: 726px) and (orientation: portrait) {
  h4 {
    font-size: 3vw;
  }
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  h4 {
    font-size: 1.6vw;
  }
}

p,
li {
  font-family: "Schibsted Grotesk", sans-serif;
  line-height: 1.2;
  font-weight: 400;
}

p {
  color: #504e4e;
  font-size: clamp(1em, 3vw, 1.25em);
  line-height: 1.3;
  margin-bottom: 1em;
}
@media screen and (min-width: 726px) and (orientation: portrait) {
  p {
    font-size: 3vw;
  }
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  p {
    font-size: 1.4vw;
  }
}

a {
  color: #bb3920;
  text-decoration: none;
}

button {
  font-family: "Schibsted Grotesk", sans-serif;
  font-size: 1em;
  font-weight: 700;
}
@media screen and (min-width: 726px) and (orientation: portrait) {
  button {
    font-size: 2.8vw;
  }
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  button {
    font-size: 1.2vw;
  }
}

li {
  font-size: clamp(16px, 1.75vw, 2em);
  font-weight: 400;
}
@media screen and (min-width: 726px) and (orientation: portrait) {
  li {
    font-size: 2.8vw;
  }
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  li {
    font-size: 1.4vw;
  }
}

li a {
  color: #bb3920;
  transition: all 0.5s;
}
li a:hover, li a:focus, li a:active {
  color: #16100b;
  transition: all 0.5s;
}

label {
  font-weight: 800;
}

.u-small {
  font-size: 1em;
}

.c-form-footer {
  background: linear-gradient(to bottom, #bb3920, #16100b);
  background-attachment: fixed;
  background-size: cover;
  clip-path: polygon(0% 0%, 50% 10%, 100% 0%, 100% 100%, 66% 100%, 0% 100%);
  padding: 15vh clamp(1.5em, 5vw, 2em) 1em;
}
@media screen and (min-width: 726px) and (orientation: landscape) {
  .c-form-footer {
    background: url("../images/bg-grain.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 10vh 15vw 1em;
  }
}
@media screen and (min-width: 726px) and (orientation: portrait) {
  .c-form-footer {
    padding: 10vh 15vw 7vh 15vw;
  }
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .c-form-footer {
    padding: 15vh 15vw 1em;
  }
}
.c-form-footer h2,
.c-form-footer p,
.c-form-footer label,
.c-form-footer a {
  color: #f2ede9;
}
.c-form-footer a {
  font-weight: 700;
  text-decoration: underline;
}
@media screen and (min-width: 726px) and (orientation: landscape) {
  .c-form-footer__contact {
    padding: 0 15vw;
  }
}
.c-form-footer__contact h2,
.c-form-footer__contact p {
  text-align: center;
}
.c-form-footer__contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.c-form-footer__contact form input {
  margin-bottom: 1em;
}
.c-form-footer__contact form button {
  margin-top: 1em;
}
.c-form-footer__disclaimer {
  margin-top: 5vw;
  text-align: center;
}

#form {
  font-family: "Schibsted Grotesk", sans-serif;
}

#result {
  color: #f2ede9;
}