.u-section-padding {
  padding: 2vh clamp(1.5em, 5vw, 2em) 0;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .u-section-padding {
    padding: 0 clamp(1.5em, 7vw, 4em);
  }
}

header {
  align-items: center;
  display: flex;
  height: 9vh;
  justify-content: space-between;
  padding: 0 clamp(1.5em, 5vw, 2em);
}
@media screen and (min-width: 726px) and (orientation: landscape) {
  header {
    gap: unset;
  }
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  header {
    padding: 0 clamp(1.5em, 7vw, 4em);
  }
}
header img {
  max-width: 225px;
  width: 150px;
}
@media screen and (min-width: 726px) and (orientation: portrait) {
  header img {
    max-width: 300px;
    width: 30vw;
  }
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  header img {
    max-width: 250px;
    width: 230px;
  }
}
header nav ul {
  align-items: center;
  display: flex;
  gap: 1em;
  padding: 0;
}
@media screen and (min-width: 726px) and (orientation: portrait) {
  header nav ul {
    gap: 2em;
  }
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  header nav ul {
    gap: clamp(16px, 14vw, 4em);
  }
}
header nav ul li {
  font-weight: 700;
}
header nav ul a {
  text-decoration: none;
}