.c-hero {
  align-items: center;
  display: grid;
  grid-template: 1fr/1fr;
  padding: 2vh clamp(1.5em, 5vw, 2em) 7vh;
}
@media screen and (min-width: 480px) and (orientation: landscape) {
  .c-hero {
    flex-direction: row;
    height: 100%;
  }
}
@media screen and (min-width: 726px) and (orientation: landscape) {
  .c-hero {
    gap: 2em;
  }
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .c-hero {
    flex-direction: row;
    grid-template: 1fr/2fr 3fr;
    min-height: 79vh;
    padding: 0 clamp(1.5em, 7vw, 4em);
  }
}
.c-hero__img, .c-hero__content {
  flex: 1 1 100%;
}
.c-hero__img {
  align-items: center;
  display: flex;
  justify-content: center;
}
.c-hero__img img {
  width: 30vw;
}
.c-hero__content {
  text-align: center;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .c-hero__content {
    text-align: left;
  }
}
.c-hero__content h2,
.c-hero__content h3 {
  font-size: clamp(0.85em, 3vw, 1.25em);
  line-height: 1.3;
  margin-bottom: 1em;
  text-wrap: pretty;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .c-hero__content h2,
.c-hero__content h3 {
    font-size: 1.3vw;
  }
}
.c-hero__content h2 {
  margin-bottom: 0.5em;
}
.c-hero__details {
  display: grid;
  grid-template: 3fr 1fr 0.6fr 1fr 1fr/1fr 1fr;
}
.c-hero__details svg {
  width: 40vw;
}
@media screen and (min-width: 480px) and (orientation: landscape) {
  .c-hero__details svg {
    width: 16vw;
  }
}
.c-hero__details--graph, .c-hero__details--current-location {
  align-items: center;
  display: flex;
}
.c-hero__details--graph {
  border-bottom: 2px solid #b5b3b3;
  grid-column: 1/span 2;
  justify-content: space-around;
  text-align: center;
}
@media screen and (min-width: 480px) and (orientation: portrait) {
  .c-hero__details svg {
    width: 30vw;
  }
}
.c-hero__details--windspeed-key, .c-hero__details--humidity-key {
  border-bottom: 2px solid #b5b3b3;
  display: grid;
}
.c-hero__details ul {
  text-align: center;
  padding-left: 0;
  place-self: center;
}
.c-hero__details--location {
  align-items: center;
  display: grid;
  grid-column: 1/span 2;
  text-align: center;
}
.c-hero__details--response {
  border: 2px solid #b5b3b3;
  grid-column: 1/span 2;
  height: 100%;
  width: 100%;
}
.c-hero__details--alerts {
  grid-column: 1/span 2;
  text-align: center;
  padding: 0.5em 0 0 0;
}
.c-hero .c-safe,
.c-hero .c-warning,
.c-hero .c-unsafe,
.c-hero .c-check {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.c-hero .c-check h3 {
  text-align: center;
}
.c-hero .c-safe {
  background: #cc9c50;
  text-transform: uppercase;
}
.c-hero .c-warning {
  background: #f87819;
}
.c-hero .c-warning h3 {
  text-align: center;
}
.c-hero .c-unsafe {
  background: #c94c26;
}
.c-hero .c-unsafe h3 {
  color: #f2ede9;
  text-align: center;
}

.c-who-is {
  padding: 7vh 5vw 7vh;
}
.c-who-is h2,
.c-who-is p {
  text-align: center;
}