section.c-ad
  ins.adsbygoogle(style='display:inline-block;width:728px;height:90px', data-ad-client='ca-pub-4174186681788042', data-ad-slot='6015996357')
  script (adsbygoogle = window.adsbygoogle || []).push({});