@import url("https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, figure, blockquote, dl, dd {
  margin: 0;
}

ul[role=list], ol[role=list] {
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.6;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}
@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1,
h2,
h3,
h4,
p {
  color: #272727;
  font-family: "Schibsted Grotesk", sans-serif;
  line-height: 0.9;
  text-wrap: balance;
}

h1 {
  font-size: clamp(1.75em, 10.5vw, 4em);
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: 0.5em;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  h1 {
    font-size: 4.5vw;
  }
}

h2 {
  font-size: 3vw;
  font-weight: 400;
}

h3 {
  font-size: 2.5vw;
  font-weight: 400;
}

h4 {
  font-size: 2vw;
  font-weight: 700;
}

p,
li,
button {
  font-family: "Schibsted Grotesk", sans-serif;
  line-height: 1.2;
  font-weight: 400;
}

p {
  font-size: clamp(1em, 3vw, 1.25em);
  line-height: 1.3;
  margin-bottom: 1em;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  p {
    font-size: 1.6vw;
  }
}

li {
  font-size: 0.85em;
  font-weight: 400;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  li {
    font-size: 1em;
  }
}

li a {
  color: #c94c26;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
li a:hover, li a:focus, li a:active {
  color: #b13813;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.u-small {
  font-size: 1em;
}

button {
  background: #c94c26;
  border: none;
  color: #f2ede9;
  cursor: pointer;
  padding: 0.75em 1.25em;
  text-wrap: nowrap;
}
button:hover, button:focus, button:active {
  background: #b13813;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.c-graph-circle {
  stroke: #cc9c50;
  -webkit-transition: stroke-dashoffset 1s ease-in-out;
  transition: stroke-dashoffset 1s ease-in-out;
}

.c-graph-empty {
  stroke: #b5b3b3;
}

.c-graph-icon {
  width: 4em;
}

.c-graph-text,
.c-graph-reading {
  fill: #272727;
}

.c-graph-text {
  font: bold 4em "Schibsted Grotesk", sans-serif;
}

.c-graph-reading {
  font: bold 2em "Schibsted Grotesk", sans-serif;
}

input[type=text] {
  border: none;
  padding: 0.5505em 1.25em;
  width: 75%;
}
@media screen and (min-width: 480px) and (orientation: landscape) {
  input[type=text] {
    width: 100%;
  }
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  input[type=text] {
    width: 50%;
  }
}
input[type=text]::-webkit-input-placeholder {
  font-family: "Schibsted Grotesk", sans-serif;
}
input[type=text]::-moz-placeholder {
  font-family: "Schibsted Grotesk", sans-serif;
}
input[type=text]::-ms-input-placeholder {
  font-family: "Schibsted Grotesk", sans-serif;
}
input[type=text]::placeholder {
  font-family: "Schibsted Grotesk", sans-serif;
}

header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 9vh;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 clamp(1.5em, 5vw, 2em);
}
@media screen and (min-width: 726px) and (orientation: landscape) {
  header {
    gap: unset;
  }
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  header {
    padding: 0 clamp(1.5em, 7vw, 4em);
  }
}
header img {
  max-width: 225px;
  width: 150px;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  header img {
    max-width: 250px;
    width: 230px;
  }
}
header nav ul {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  padding: 0;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  header nav ul {
    gap: clamp(16px, 14vw, 4em);
  }
}
header nav ul li {
  font-weight: 700;
}

.c-hero {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: grid;
  grid-template: 1fr/1fr;
  padding: 2vh clamp(1.5em, 5vw, 2em) 7vh;
}
@media screen and (min-width: 480px) and (orientation: landscape) {
  .c-hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 100%;
  }
}
@media screen and (min-width: 726px) and (orientation: landscape) {
  .c-hero {
    gap: 2em;
  }
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .c-hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    grid-template: 1fr/2fr 3fr;
    min-height: 76vh;
    padding: 0 clamp(1.5em, 7vw, 4em);
  }
}
.c-hero__img, .c-hero__content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}
.c-hero__img {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.c-hero__img img {
  width: 30vw;
}
.c-hero__content {
  text-align: center;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .c-hero__content {
    text-align: left;
  }
}
.c-hero__details {
  display: grid;
  grid-template: 4fr 1.25fr 0.5fr 1fr/1fr 1fr;
}
.c-hero__details svg {
  width: 40vw;
}
@media screen and (min-width: 480px) and (orientation: landscape) {
  .c-hero__details svg {
    width: 18vw;
  }
}
.c-hero__details--graph, .c-hero__details--current-location {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.c-hero__details--graph {
  grid-column: 1/span 2;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
}
.c-hero__details--current-location {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media screen and (min-width: 480px) and (orientation: portrait) {
  .c-hero__details svg {
    width: 30vw;
  }
}
.c-hero__details--current-location {
  border-bottom: 2px solid #b5b3b3;
  border-top: 2px solid #b5b3b3;
  grid-column: 1/span 2;
}
.c-hero__details--divider {
  border-right: 2px solid #b5b3b3;
}
.c-hero__details--input {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: 1/span 2;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.c-ad {
  background: url(../../images/safe-to-burn-wood.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 15vh;
  position: relative;
  width: 100vw;
}
.c-ad::before {
  background: rgba(242, 237, 233, 0.5);
  backdrop-filter: blur(6px);
  content: "";
  height: 2em;
  inset: 0 auto auto 0;
  position: absolute;
  width: 100vw;
}

body {
  background: #f2ede9 radial-gradient(100% 65% at 0% 0%, #dacbbf 33%, #f2ede9) no-repeat;
  background-size: contain;
  overflow-x: clip;
}

.test {
  height: 100vh;
}