*, *::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, figure, blockquote, dl, dd {
  margin: 0;
}

ul[role=list], ol[role=list] {
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.6;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}
@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1,
h2,
h3,
h4,
p,
label,
input {
  color: #272727;
  font-family: "Schibsted Grotesk", sans-serif;
  text-wrap: balance;
}

h1 {
  font-size: clamp(1.75em, 9.5vw, 2.25em);
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: 0.25em;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  h1 {
    font-size: 4.5vw;
  }
}

h2 {
  font-size: clamp(1.75em, 7vw, 2.5em);
  font-weight: 900;
}

h3,
.c-accordion-label {
  font-size: 1.1em;
  font-weight: 400;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  h3,
  .c-accordion-label {
    font-size: 1.5vw;
  }
}

h4 {
  font-size: 1.25em;
  font-weight: 700;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  h4 {
    font-size: 1.6vw;
  }
}

p,
li {
  font-family: "Schibsted Grotesk", sans-serif;
  line-height: 1.2;
  font-weight: 400;
}

p {
  font-size: clamp(1em, 3vw, 1.25em);
  line-height: 1.3;
  margin-bottom: 1em;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  p {
    font-size: 1.4vw;
  }
}

a {
  color: #bb3920;
  text-decoration: underline;
}

button {
  font-family: "Schibsted Grotesk", sans-serif;
  font-size: 1em;
  font-weight: 700;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  button {
    font-size: 1.2vw;
  }
}

li {
  font-size: clamp(16px, 1.75vw, 2em);
  font-weight: 400;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  li {
    font-size: 1.4vw;
  }
}

li a {
  color: #bb3920;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
li a:hover, li a:focus, li a:active {
  color: #16100b;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

label {
  font-weight: 800;
}

.u-small {
  font-size: 0.75em;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .u-small {
    font-size: 1em;
  }
}

button {
  cursor: pointer;
  padding: 0;
  text-wrap: nowrap;
}

.c-btn-outline {
  border: 1px solid #bb3920;
  border-radius: 50vw;
  color: #272727;
}
.c-btn-outline:hover, .c-btn-outline:focus, .c-btn-outline:active {
  background: #bb3920;
  color: #f2ede9;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.c-btn-icon {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-right: 1em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.c-btn-icon img {
  aspect-ratio: 1;
  border-radius: 50vw;
  margin: 0.25em;
  padding: 0.5em;
  width: 2.5em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.c-btn-icon:hover img, .c-btn-icon:focus img, .c-btn-icon:active img {
  background: #f2ede9;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.c-graph-circle {
  stroke: #cc9c50;
  -webkit-transition: stroke-dashoffset 1s ease-in-out;
  transition: stroke-dashoffset 1s ease-in-out;
}

.c-graph-empty {
  stroke: #b5b3b3;
}

.c-graph-icon {
  width: 4em;
}

.c-graph-text,
.c-graph-reading {
  fill: #272727;
}

.c-graph-text {
  font: bold 4em "Schibsted Grotesk", sans-serif;
}

.c-graph-reading {
  font: bold 2em "Schibsted Grotesk", sans-serif;
}

input[type=search] {
  border: none;
  min-height: 2em;
  padding: 0.5505em 1.25em;
}
@media screen and (min-width: 480px) and (orientation: landscape) {
  input[type=search] {
    width: 100%;
  }
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  input[type=search] {
    width: 50%;
  }
}
input[type=search]::-webkit-input-placeholder {
  font-family: "Schibsted Grotesk", sans-serif;
}
input[type=search]::-moz-placeholder {
  font-family: "Schibsted Grotesk", sans-serif;
}
input[type=search]::-ms-input-placeholder {
  font-family: "Schibsted Grotesk", sans-serif;
}
input[type=search]::placeholder {
  font-family: "Schibsted Grotesk", sans-serif;
}

.c-location-search__hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.c-location-search__container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0.5em 0 1em 0;
}
@media screen and (min-width: 726px) and (orientation: landscape) {
  .c-location-search__container {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
}

header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 9vh;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 clamp(1.5em, 5vw, 2em);
}
@media screen and (min-width: 726px) and (orientation: landscape) {
  header {
    gap: unset;
  }
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  header {
    padding: 0 clamp(1.5em, 7vw, 4em);
  }
}
header img {
  max-width: 225px;
  width: 150px;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  header img {
    max-width: 250px;
    width: 230px;
  }
}
header nav ul {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  padding: 0;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  header nav ul {
    gap: clamp(16px, 14vw, 4em);
  }
}
header nav ul li {
  font-weight: 700;
}
header nav ul a {
  text-decoration: none;
}

.c-hero {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: grid;
  grid-template: 1fr/1fr;
  padding: 2vh clamp(1.5em, 5vw, 2em) 7vh;
}
@media screen and (min-width: 480px) and (orientation: landscape) {
  .c-hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 100%;
  }
}
@media screen and (min-width: 726px) and (orientation: landscape) {
  .c-hero {
    gap: 2em;
  }
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .c-hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    grid-template: 1fr/2fr 3fr;
    min-height: 79vh;
    padding: 0 clamp(1.5em, 7vw, 4em);
  }
}
.c-hero__img, .c-hero__content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}
.c-hero__img {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.c-hero__img img {
  width: 30vw;
}
.c-hero__wrapper {
  text-align: center;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .c-hero__wrapper {
    text-align: left;
  }
}
.c-hero__wrapper h2,
.c-hero__wrapper h3 {
  font-size: clamp(0.85em, 3vw, 1.25em);
  line-height: 1.3;
  margin-bottom: 1em;
  text-wrap: pretty;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .c-hero__wrapper h2,
  .c-hero__wrapper h3 {
    font-size: 1.3vw;
  }
}
.c-hero__wrapper h2 {
  margin-bottom: 0.5em;
}

.c-about {
  padding: 2vh clamp(1.5em, 5vw, 2em) 7vh;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .c-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 87vh;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 7vh 15vw;
  }
}
.c-about ul {
  margin-bottom: 1em;
}
.c-about ul li {
  list-style: disc;
}

.c-contact {
  padding: 2vh clamp(1.5em, 5vw, 2em) 7vh;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .c-contact {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 87vh;
    width: 100%;
  }
}
.c-contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50%;
}

.c-ad {
  display: grid;
  margin-bottom: 2.25em;
  width: 100%;
}
.c-ad ins {
  place-self: center;
}

.c-divider {
  background: url(../../images/safe-to-burn-wood.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: gird;
  height: 12vh;
  position: relative;
  width: 100vw;
}
.c-divider::before {
  background: rgba(242, 237, 233, 0.5);
  backdrop-filter: blur(6px);
  content: "";
  height: 2em;
  inset: 0 auto auto 0;
  position: absolute;
  width: 100vw;
}

.c-footer {
  background: #bb3920;
  height: 2.25em;
  padding: 1vh clamp(1.5em, 5vw, 2em);
  text-align: center;
  width: 100vw;
}
.c-footer p,
.c-footer a {
  color: #f2ede9;
}
.c-footer a {
  text-decoration: underline;
}

.c-accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 5em;
  padding: 7vh 5vw;
}
@media screen and (min-width: 726px) and (orientation: landscape) {
  .c-accordion {
    padding: 0 25vw;
  }
}
.c-accordion__container {
  border-top: 1px solid #b5b3b3;
}
.c-accordion__container:last-of-type {
  border-bottom: 1px solid #b5b3b3;
}
.c-accordion h2 {
  margin-bottom: 1em;
  text-align: center;
}
.c-accordion-label {
  cursor: pointer;
  display: block;
  font-weight: 700;
  padding: 0.5em 1em;
  position: relative;
  -webkit-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
}
.c-accordion-label:hover {
  background-color: #e7e2dd;
}
.c-accordion-label:after {
  content: "+";
  display: block;
  height: 100%;
  inset: 0 0 auto auto;
  line-height: 2.25em;
  padding-top: 0.25em;
  position: absolute;
  text-align: center;
  -webkit-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  width: 2em;
}
.c-accordion-input {
  display: none;
}
.c-accordion-input:checked + .c-accordion-label:after {
  content: "+";
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  width: 2em;
  height: 100%;
  line-height: 2.25em;
  text-align: center;
  -webkit-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  content: "-";
}
.c-accordion-input:checked ~ .c-accordion-text {
  height: auto;
  padding: 0.5em 1.5em;
  opacity: 1;
}
.c-accordion-text {
  opacity: 0;
  height: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  overflow: hidden;
}
.c-accordion-sub-text {
  opacity: 0;
  height: 0;
  margin-bottom: 0.5em;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  overflow: hidden;
  padding: 0 1em 0 2em;
}
.c-accordion-sub .c-accordion-input:checked ~ .c-accordion-sub-text {
  opacity: 1;
  height: auto;
}
.c-accordion-sub .c-accordion-input:checked + .c-accordion-label:after {
  left: 0;
  background: none;
}
.c-accordion-sub .c-accordion-input:checked + label {
  background: none;
}
.c-accordion-sub-label {
  background: none;
  font-weight: 600;
  padding: 0.5em 2em;
  margin-bottom: 0;
}
.c-accordion-sub-label:checked {
  background: none;
  border-bottom: 1px solid whitesmoke;
}
.c-accordion-sub-label:after {
  left: 0;
  background: none;
}
.c-accordion-sub-label:hover {
  background: none;
}

body {
  background: #f2ede9 radial-gradient(100% 65% at 0% 0%, #dacbbf 33%, #f2ede9) no-repeat;
  background-size: contain;
  overflow-x: clip;
}

.test {
  height: 100vh;
}