.u-section-padding {
  padding: 2vh clamp(1.5em, 5vw, 2em) 0;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .u-section-padding {
    padding: 0 clamp(1.5em, 7vw, 4em);
  }
}

.c-about {
  padding: 2vh clamp(1.5em, 5vw, 2em) 7vh;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .c-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 87vh;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 15vw 7vh 15vw;
  }
}
@media screen and (min-width: 726px) and (orientation: portrait) {
  .c-about {
    padding: 0 15vw 7vh 15vw;
  }
}
.c-about ul {
  margin-bottom: 1em;
}
.c-about ul li {
  list-style: disc;
}