.u-section-padding {
  padding: 2vh clamp(1.5em, 5vw, 2em) 0;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .u-section-padding {
    padding: 0 clamp(1.5em, 7vw, 4em);
  }
}

.c-conditions {
  background: #d1d1d1;
  -webkit-clip-path: polygon(0% 10%, 50% 0%, 100% 10%, 100% 90%, 50% 100%, 0% 90%);
  clip-path: polygon(0% 10%, 50% 0%, 100% 10%, 100% 90%, 50% 100%, 0% 90%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 10vh clamp(1.5em, 10vw, 5em);
}
@media screen and (min-width: 726px) and (orientation: landscape) {
  .c-conditions {
    padding: 15vh clamp(1.5em, 10vw, 10em);
  }
}
.c-conditions__determine {
  -ms-flex-item-align: end;
  align-self: end;
  isolation: isolate;
  margin-bottom: 4em;
  position: relative;
}
@media screen and (min-width: 726px) and (orientation: landscape) {
  .c-conditions__determine {
    width: 50vw;
  }
}
.c-conditions__determine::before {
  content: "";
  position: absolute;
  z-index: -1;
}
@media screen and (min-width: 726px) and (orientation: landscape) {
  .c-conditions__determine::before {
    aspect-ratio: 3/2;
    background: url("/images/vectors/icon-check-lit.svg") no-repeat;
    background-size: contain;
    height: 100%;
    inset: auto auto auto -50%;
  }
}
.c-conditions__determine h2 {
  text-wrap: balance;
}
.c-conditions__determine table {
  border-collapse: collapse;
  width: 100%;
}
.c-conditions__determine table tr {
  border-bottom: 1px solid #b5b3b3;
}
.c-conditions__determine table tr th,
.c-conditions__determine table tr td {
  padding: 0.5em;
  vertical-align: top;
}
.c-conditions__data h4 {
  text-align: center;
  text-wrap: balance;
}
.c-conditions__data ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4vw;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 3em 0;
  padding: 0;
}
.c-conditions__data p,
.c-conditions__data li {
  text-align: center;
  text-wrap: balance;
}