.u-section-padding {
  padding: 2vh clamp(1.5em, 5vw, 2em) 0;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .u-section-padding {
    padding: 0 clamp(1.5em, 7vw, 4em);
  }
}

.c-danger {
  padding: 10vh clamp(1.5em, 10vw, 5em) 0;
}
@media screen and (min-width: 726px) and (orientation: landscape) {
  .c-danger {
    padding: 15vh clamp(1.5em, 10vw, 10em) 0;
  }
}
.c-danger h2,
.c-danger p {
  text-align: center;
}
.c-danger__content {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  gap: 2vw;
}
.c-danger__content--avoid p {
  color: #272727;
  margin: 0;
}
.c-danger__content--avoid ul {
  margin: 2em 0;
}
.c-danger__content--avoid ul li {
  list-style: disc;
}
.c-danger__content--avoid, .c-danger__content--graphs {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
  margin-bottom: 5em;
}
@media screen and (min-width: 726px) and (orientation: landscape) {
  .c-danger__content--avoid {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 40%;
    flex: 0 1 40%;
  }
}
@media screen and (min-width: 726px) and (orientation: landscape) {
  .c-danger__content--graphs {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }
}