.c-footer {
  background: #bb3920;
  height: 2.25em;
  padding: 1vh clamp(1.5em, 5vw, 2em);
  text-align: center;
  width: 100vw;
}
.c-footer p,
.c-footer a {
  color: #f2ede9;
}
.c-footer a {
  text-decoration: underline;
}