.c-hero {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: grid;
  grid-template: 1fr/1fr;
  padding: 2vh clamp(1.5em, 5vw, 2em) 7vh;
}
@media screen and (min-width: 480px) and (orientation: landscape) {
  .c-hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 100%;
  }
}
@media screen and (min-width: 726px) and (orientation: landscape) {
  .c-hero {
    gap: 2em;
  }
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .c-hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    grid-template: 1fr/2fr 3fr;
    min-height: 76vh;
    padding: 0 clamp(1.5em, 7vw, 4em);
  }
}
.c-hero__img, .c-hero__content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}
.c-hero__img {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.c-hero__img img {
  width: 30vw;
}
.c-hero__content {
  text-align: center;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .c-hero__content {
    text-align: left;
  }
}
.c-hero__details {
  display: grid;
  grid-template: 3fr 1.25fr 0.5fr 1fr/1fr 1fr;
}
.c-hero__details svg {
  width: 40vw;
}
@media screen and (min-width: 480px) and (orientation: landscape) {
  .c-hero__details svg {
    width: 18vw;
  }
}
.c-hero__details--graph, .c-hero__details--current-location {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.c-hero__details--graph {
  border-bottom: 2px solid #b5b3b3;
  grid-column: 1/span 2;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
}
@media screen and (min-width: 480px) and (orientation: portrait) {
  .c-hero__details svg {
    width: 30vw;
  }
}
.c-hero__details--windspeed-key, .c-hero__details--humidity-key {
  border-bottom: 2px solid #b5b3b3;
  display: grid;
  padding: 1em 0;
}
.c-hero__details ul {
  text-align: center;
  padding-left: 0;
  place-self: center;
}
.c-hero__details--divider {
  border-right: 2px solid #b5b3b3;
}
.c-hero__details--response {
  border: 2px solid #b5b3b3;
  grid-column: 1/span 2;
  height: 100%;
  width: 100%;
}
.c-hero .c-safe {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #cc9c50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: uppercase;
  width: 100%;
}
.c-hero .c-unsafe {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #c94c26;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}
.c-hero .c-unsafe h3 {
  color: #f2ede9;
}