.c-hero {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: grid;
  grid-template: 1fr/1fr;
  padding: 2vh clamp(1.5em, 5vw, 2em) 7vh;
}
@media screen and (min-width: 480px) and (orientation: landscape) {
  .c-hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 100%;
  }
}
@media screen and (min-width: 726px) and (orientation: landscape) {
  .c-hero {
    gap: 2em;
  }
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .c-hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    grid-template: 1fr/2fr 3fr;
    min-height: 79vh;
    padding: 0 clamp(1.5em, 7vw, 4em);
  }
}
.c-hero__img, .c-hero__content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}
.c-hero__img {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.c-hero__img img {
  width: 30vw;
}
.c-hero__wrapper {
  text-align: center;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .c-hero__wrapper {
    text-align: left;
  }
}
.c-hero__wrapper h2,
.c-hero__wrapper h3 {
  font-size: clamp(0.85em, 3vw, 1.25em);
  line-height: 1.3;
  margin-bottom: 1em;
  text-wrap: pretty;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .c-hero__wrapper h2,
  .c-hero__wrapper h3 {
    font-size: 1.3vw;
  }
}
.c-hero__wrapper h2 {
  margin-bottom: 0.5em;
}