.c-main {
  background: url("../images/logo-shape-grain.png") no-repeat;
  background-position: -100% 33%;
  background-size: 150%;
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 480px) and (orientation: landscape) {
  .c-main {
    background-position: 200% 0%;
    background-size: 75%;
  }
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .c-main {
    background-position: right 0%;
    background-size: 50%;
  }
}
@media screen and (min-width: 1200px) and (orientation: landscape) {
  .c-main {
    background-position: right 0%;
    background-size: 45%;
  }
}

.c-hero {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: grid;
  grid-template: 1fr 1fr/3fr 1fr;
  min-height: 91vh;
  padding: 2vh clamp(1.5em, 5vw, 2em) 0;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .c-hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    grid-template: 1fr 1fr/3fr 2fr;
    padding: 0 clamp(1.5em, 7vw, 4em);
  }
}
.c-hero h2,
.c-hero h3 {
  font-size: clamp(0.85em, 3vw, 1.25em);
  line-height: 1.3;
  margin-bottom: 1em;
  text-wrap: pretty;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .c-hero h2,
  .c-hero h3 {
    font-size: 1.3vw;
  }
}
.c-hero h2 {
  margin-bottom: 0.5em;
}
.c-hero__content {
  grid-column: 1;
  place-self: end start;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .c-hero__content {
    grid-row: 1/span 2;
    place-self: center;
  }
}
.c-hero__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 1em;
  grid-column: 1;
  grid-row: 2;
  margin-bottom: 2em;
  place-self: end start;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .c-hero__btns {
    margin-bottom: 4em;
  }
}