.u-section-padding {
  padding: 2vh clamp(1.5em, 5vw, 2em) 0;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .u-section-padding {
    padding: 0 clamp(1.5em, 7vw, 4em);
  }
}

.c-privacy {
  margin: 5em 0;
}
.c-privacy h4 {
  margin-bottom: 1em;
}
.c-privacy li {
  list-style-type: disc;
  margin-bottom: 0.5em;
}