.u-section-padding {
  padding: 2vh clamp(1.5em, 5vw, 2em) 0;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .u-section-padding {
    padding: 0 clamp(1.5em, 7vw, 4em);
  }
}

.c-searching {
  padding: 10vh clamp(1.5em, 10vw, 5em);
}
@media screen and (min-width: 726px) and (orientation: landscape) {
  .c-searching {
    padding: 15vh clamp(1.5em, 10vw, 10em);
  }
}
.c-searching h4 {
  font-weight: 900;
}
.c-searching h4,
.c-searching p {
  color: #272727;
}
.c-searching__reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
}
.c-searching__reasons h4 {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
}
@media screen and (min-width: 726px) and (orientation: landscape) {
  .c-searching__reasons h4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    text-align: left;
    text-wrap: balance;
  }
}
.c-searching__reasons-icons {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 3em;
  padding: 0;
  row-gap: 2em;
  justify-content: center;
}
@media screen and (min-width: 726px) and (orientation: landscape) {
  .c-searching__reasons-icons {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    margin-top: 0;
  }
}
.c-searching__reasons-icons--item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-weight: bold;
  text-align: center;
}
.c-searching__reasons-icons--item img {
  margin-bottom: 1em;
  max-width: 50px;
}
@media screen and (min-width: 726px) and (orientation: landscape) {
  .c-searching__reasons-icons--item img {
    max-width: 80px;
  }
}
.c-searching__results {
  background-position: center;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 12vh 0;
  position: relative;
  text-align: center;
}
.c-searching__results::before, .c-searching__results::after {
  background-color: #bb3920;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}
.c-searching__results::before {
  -webkit-clip-path: polygon(0 -50%, 45% 35%, 0 150%);
  clip-path: polygon(0 -50%, 45% 35%, 0 150%);
  translate: -50% 0;
}
@media screen and (min-width: 726px) and (orientation: landscape) {
  .c-searching__results::before {
    -webkit-clip-path: polygon(0 -50%, 60% 35%, 0 150%);
    clip-path: polygon(0 -50%, 60% 35%, 0 150%);
  }
}
.c-searching__results::after {
  -webkit-clip-path: polygon(100% -50%, 55% 35%, 100% 150%);
  clip-path: polygon(100% -50%, 55% 35%, 100% 150%);
  translate: 50% 0;
}
@media screen and (min-width: 726px) and (orientation: landscape) {
  .c-searching__results::after {
    -webkit-clip-path: polygon(100% -50%, 40% 35%, 100% 150%);
    clip-path: polygon(100% -50%, 40% 35%, 100% 150%);
  }
}
.c-searching__results h4 {
  color: #bb3920;
  text-wrap: balance;
}
.c-searching__results p {
  margin-bottom: 0;
}
.c-searching__results--phrase {
  margin: 2em 0;
}
.c-searching__results .o-group__btns {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 2em;
  place-self: center;
}