.u-section-padding {
  padding: 2vh clamp(1.5em, 5vw, 2em) 0;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .u-section-padding {
    padding: 0 clamp(1.5em, 7vw, 4em);
  }
}

.c-what {
  background: -webkit-gradient(linear, left top, left bottom, from(#bb3920), to(#16100b));
  background: linear-gradient(to bottom, #bb3920, #16100b);
  background-attachment: fixed;
  background-size: cover;
  -webkit-clip-path: polygon(0% 0%, 33% 10%, 100% 0%, 100% 100%, 66% 90%, 0% 100%);
  clip-path: polygon(0% 0%, 33% 10%, 100% 0%, 100% 100%, 66% 90%, 0% 100%);
  padding: 25vh clamp(1.5em, 5vw, 2em);
}
@media screen and (min-width: 726px) and (orientation: landscape) {
  .c-what {
    background: url("../images/bg-grain.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
}
.c-what h2,
.c-what p {
  text-align: center;
  color: #f2ede9;
}