.u-section-padding {
  padding: 2vh clamp(1.5em, 5vw, 2em) 0;
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .u-section-padding {
    padding: 0 clamp(1.5em, 7vw, 4em);
  }
}

.c-what {
  background: -webkit-gradient(linear, left top, left bottom, from(#bb3920), to(#16100b));
  background: linear-gradient(to bottom, #bb3920, #16100b);
  background-attachment: fixed;
  background-size: cover;
  -webkit-clip-path: polygon(0% 0%, 33% 10%, 100% 0%, 100% 100%, 66% 90%, 0% 100%);
  clip-path: polygon(0% 0%, 33% 10%, 100% 0%, 100% 100%, 66% 90%, 0% 100%);
  padding: 25vh clamp(1.5em, 10vw, 5em);
}
@media screen and (min-width: 726px) and (orientation: landscape) {
  .c-what {
    background: url("../images/bg-grain.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 25vh clamp(1.5em, 10vw, 10em);
  }
}
.c-what h2,
.c-what h3,
.c-what h4,
.c-what h5,
.c-what h6,
.c-what p,
.c-what li {
  text-align: center;
  text-wrap: pretty;
  color: #f2ede9;
}
.c-what h4 {
  font-weight: bold;
  padding: 0 10vw;
  text-wrap: balance;
}
.c-what__reasons {
  margin: 10em 0 0 0;
}
.c-what__reasons ul {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  row-gap: 3em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 4em;
}
.c-what__reasons ul li {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-weight: bold;
  font-size: 1.25em;
}
@media screen and (min-width: 726px) and (orientation: landscape) {
  .c-what__reasons ul li {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33%;
    flex: 0 1 33%;
  }
}
@media screen and (min-width: 1200px) and (orientation: landscape) {
  .c-what__reasons ul li {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 20%;
    flex: 0 1 20%;
  }
}
.c-what__reasons ul li img {
  margin-bottom: 1em;
  width: 80px;
}