doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://images.marketamerica.com/cdn/interactive-bootstrap-template/css/3.0/interactive-bootstrap.css?=v3")
    link(rel="stylesheet", href="styles/styles.css")
    link(rel="shortcut icon" type="image/png" href="images/logos/safe-to-burn-fire-safety-favicon.png")
    title Contact Safe to Burn
  body
    include blocks/header
    section.c-contact
      h1 Contact Us 
      p Feel free to contact us with any questions, suggestions or issues.
      form#form(method='POST')
        input(type='hidden', name='access_key', value='c092c90c-6f21-415e-8383-8757c6da4e28')
        label(for='name') Name
        input#name(type='text', name='name', required, aria-required='true')
        label(for='email') Email
        input#email(type='email', name='email', required, aria-required='true')
        label(for='message') Your Message
        textarea#message(name='message', required, aria-required='true')
        input.hidden(type='checkbox', name='botcheck', style='display: none;')
        button(type='submit') Submit Form
        #result(role='status' aria-live='polite')
    include blocks/ad
    include components/footer
    script.
      const form = document.getElementById('form');
      const result = document.getElementById('result');
      form.addEventListener('submit', function(e) {
      e.preventDefault();
      const formData = new FormData(form);
      const object = Object.fromEntries(formData);
      const json = JSON.stringify(object);
      result.innerHTML = "Please wait..."
      fetch('https://api.web3forms.com/submit', {
      method: 'POST',
      headers: {
      'Content-Type': 'application/json',
      'Accept': 'application/json'
      },
      body: json
      })
      .then(async (response) => {
      let json = await response.json();
      if (response.status == 200) {
      result.innerHTML = "Form submitted successfully";
      } else {
      console.log(response);
      result.innerHTML = json.message;
      }
      })
      .catch(error => {
      console.log(error);
      result.innerHTML = "Something went wrong!";
      })
      .then(function() {
      form.reset();
      setTimeout(() => {
      result.style.display = "none";
      }, 3000);
      });
      });