doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://images.marketamerica.com/cdn/interactive-bootstrap-template/css/3.0/interactive-bootstrap.css?=v3")
    link(rel="stylesheet", href="styles/styles.css")
    title Dev Starter
  body
    h1 Hello
    h2 Hello
    h3 Hello
    h4 Hello
    p Hello