
<footer class="c-form-footer" id="contact">
  <div class="c-form-footer__contact">
    <h2>Contact Us </h2>
    <p>Feel free to contact us with any questions, suggestions or issues.</p>
    <form id="form" method="POST">
      <input type="hidden" name="access_key" value="c092c90c-6f21-415e-8383-8757c6da4e28"/>
      <label for="name">Name</label>
      <input id="name" type="text" name="name" required="required" aria-required="true"/>
      <label for="email">Email</label>
      <input id="email" type="email" name="email" required="required" aria-required="true"/>
      <label for="message">Your Message</label>
      <textarea id="message" name="message" required="required" aria-required="true"></textarea>
      <input class="hidden" type="checkbox" name="botcheck" style="display: none;"/>
      <button class="c-btn-light" type="submit">Submit Form</button>
      <div id="result" role="status" aria-live="polite"></div>
    </form>
  </div>
  <div class="c-form-footer__disclaimer">
    <p class="u-small">© 2025 <a href="https://jakemillerdev.com/">Jake Miller</a>. All rights reserved. <a href="privacy-policy.html">Privacy Policy</a></p>
  </div>
</footer>