
<form class="c-location-search" novalidate="novalidate" role="search">
  <label class="c-location-search__label" id="location__label" for="location-input">Search by city or ZIP code</label>
  <p class="u-small c-location-search__hint" id="location-hint">Enter a city name (e.g., "Boston") or a ZIP code (e.g., "02108").</p>
  <p class="c-location-search__error js-location-search__error hidden" id="location__error" aria-live="polite"></p>
  <input class="c-location-search__input js-location-search__input" id="location-input" type="search" name="location-input" inputmode="search" autocomplete="address-level2 postal-code" aria-describedby="location-hint location__error" aria-labeledby="location-label" placeholder="City or ZIP code"/>
  <button class="c-location-search__button js-location-search__button" type="submit"></button>
</form>