
<form class="c-location-search" id="c-location-search" novalidate="novalidate" role="search">
  <label class="c-location-search__label u-small c-location-search__hidden" id="location__label" for="location-input">Search fire safety by city, state, or ZIP code</label>
  <p class="u-small c-location-search__hint c-location-search__hidden" id="location-hint">Enter a city name (e.g., "Boston") or ZIP code (e.g., "02108")</p>
  <div class="c-location-search__container">
    <input class="c-location-search__input js-location-search__input" id="location-input" type="search" name="location-input" inputmode="search" autocomplete="address-level2 postal-code" aria-describedby="location-hint location__error" aria-labelledby="location-label" placeholder="City, State or ZIP code"/>
    <button class="c-btn-icon c-btn-red c-btn-search js-input" type="submit" form="c-location-search"><img src="images/vectors/icon-search-lit.svg" alt="magnifying glass to indicate searching"/></button>
  </div>
  <p class="c-location-search__error c-location-search__hidden js-location-search__error u-small" id="location__error" aria-live="polite"></p>
</form>