
<svg class="c-graph" viewBox="0 0 400 400">
  <circle class="c-graph-empty" cx="200" cy="200" fill="none" r="175" stroke-dasharray="870" stroke-dashoffset="10" stroke-width="25" transform="rotate(129 200 200)"></circle>
  <circle class="c-graph-circle js-graph-circle--humidity" cx="200" cy="200" fill="none" r="175" stroke-dasharray="1100" stroke-width="25" stroke-dashoffset="1100" transform="rotate(129 200 200)"></circle>
  <image class="c-graph-icon" dominant-baseline="middle" dy="0.3em" href="images/vectors/humidity.svg" text-anchor="middle" x="42%" y="25%"> </image>
  <text class="c-graph-text js-humidity-text" dominant-baseline="middle" dy="0.3em" text-anchor="middle" x="50%" y="50%">0 %</text>
  <text class="c-graph-reading" dominant-baseline="middle" dy="0.3em" text-anchor="middle" x="50%" y="85%">Humidity</text>
</svg>