section.c-about 
  h2 About Safe To Burn
  p This project began when I needed to clear a large amount of leaf and brush waste, and realized how difficult it was to find reliable information about whether burning was both legal and safe. I wanted a tool that was simple, accurate, and easy to understand.
  .c-about__responsibility
    h4 Your Responsibility:
    .c-about__responsibility--content
      p This site is a resource, but you are responsible for safe and legal burning.
      ul 
        li Know your local laws and permit rules.
        li Never leave a fire unattended.
        li Protect your neighbors, land, and environment.
      p Burn smart. Burn safe.