section.c-danger 
  h2 When Not to Burn
  .c-danger__content
    .c-danger__content--avoid
      p Outdoor burning should be avoided when:
      ul 
        li Winds are above 10–15 mph
        li Humidity is below 25–35%
        li Your county has issued a burn ban
        li Air quality is unhealthy
        li Conditions are extremely dry or your area is under drought alerts
    .c-danger__content--graphs 
      include ../components/bar-graph-windspeed
      include ../components/bar-graph-humidity
  p A small, controlled burn can turn dangerous faster than most people realize.
