section.c-hero 
  .c-hero__content
    h1 Is It Safe to Burn Today?
    p Check the conditions to see if it’s safe to burn brush, wood, or debris in your area today.
    input(type="text" placeholder="City or Zip Code")
    button Check Now
  .c-hero__details
    include ../components/graph-windspeed
section.c-ad
.test