section.c-hero 
  .c-hero__img
    img(src="images/logos/safe-to-burn-logo-mark.svg", alt="")
  .c-hero__content
    h1 Is It Safe to Burn Today in Your Area?
    p Check the conditions to see if it’s safe to burn brush, wood, or debris today.
    input(type="text" placeholder="City or Zip Code")
    button Check Now
