section.c-hero 
  .c-hero__wrapper
    .c-hero__content
      h1 Is It Safe to Burn Today?
      p A fire safety conditions app meant to track windspeed, humidity, and burn bans at your location.
    .c-hero__btns
      button.c-btn-icon.c-btn-outline.c-btn-location.js-btn-location
        img(src="images/vectors/icon-location-red.svg", alt="")
        | Location
      button.c-btn-icon.c-btn-outline.c-btn-search.js-btn-search
        img(src="images/vectors/icon-search-red.svg", alt="")
        | Search
