section.c-main
  .c-hero.u-section-padding 
    .c-hero__content
      h1 Is It Safe to Burn Today?
      p A fire-safety tool that lets you check weather conditions and local burn bans to see if it’s safe to burn brush or yard waste where you live.
      p Checking before you burn reduces wildfire risk, protects air quality, and helps keep your community safe.
    .o-group__btns
      a(href="#app")
        button.c-btn-icon.c-btn-outline.c-btn-location.js-btn-location
          img(src="images/vectors/icon-location-red.svg", alt="")
          span Location
      a(href="#app")
        button.c-btn-icon.c-btn-outline.c-btn-search.js-btn-search(href="#c-location-search")
          img(src="images/vectors/icon-search-red.svg", alt="")
          span Search
  #app.c-app.u-section-padding
    h2 Location
    .c-app__location
      h3.c-app__location--details.js-app__location--details Search for a location
      .c-app__location--search
        include ../components/form-search
    .c-app__alerts
      h4 
        b Alerts:
      p.c-app__alerts--details.js-app__alerts--details No alerts
    .c-app__graphs
      .c-app__graph.c-app__graph--windspeed
        include ../components/graph-windspeed-alt
        .c-app__graph--content 
          h4 Wind speed
          h3 
            b.js-windspeed-text 0 mph
          p.u-small Prescribed Burns 5 to 15 mph 
            | 
            | General Burns up to 20 mph
      .c-app__graph.c-app__graph--humidity
        include ../components/graph-humidity-alt
        .c-app__graph--content 
          h4 Humidity
          h3
            b.js-humidity-text 0%
          p.u-small Danger < 30%
            | 
            | Safe Above 40%
      .c-app__graph.c-app__graph--air-quality
        include ../components/graph-air-quality-alt
        .c-app__graph--content 
          h4 Air Quality
          h3 
            b 0
          p.u-small Coming soon
    .c-app__details--response.js-hero__details--response 
      h2 Results:
include what
include searching
include conditions
include danger
include ../components/faq
include ../components/logo-divider
include who
include ../blocks/ad
include form-footer