section.c-searching
  .c-searching__reasons
    h4 Instead of searching multiple websites for weather forecasts, burn bans, and alerts, this app brings together:
    .c-searching__reasons-icons
      .c-searching__reasons-icons--item
        img(src="images/vectors/icon-windspeed-red.svg" alt="icon of wind speed")
        p Wind speed and direction
      .c-searching__reasons-icons--item
        img(src="images/vectors/icon-humidity-red.svg" alt="icon of humidity")
        p Humidity levels
      .c-searching__reasons-icons--item
        img(src="images/vectors/icon-alert-red.svg" alt="icon for fire alerts")
        p Fire danger alerts
      .c-searching__reasons-icons--item
        img(src="images/vectors/icon-ban-red.svg" alt="icon for burn bans")
        p Local burn bans and restrictions
  .c-searching__results
    p Enter your city, ZIP code, or other location to see real-time burn conditions.
    .c-searching__results--phrase
      h4 If conditions are unsafe, we’ll tell you. 
      h4 If burning is restricted, we’ll tell you.
    p Burning responsibly protects your property, your neighbors, and the environment.
    .o-group__btns
      a(href="#")
        button.c-btn-icon.c-btn-outline.c-btn-location.js-btn-location
          img(src="images/vectors/icon-location-red.svg", alt="")
          span Location
      a(href="#")
        button.c-btn-icon.c-btn-outline.c-btn-search.js-btn-search(href="#c-location-search")
          img(src="images/vectors/icon-search-red.svg", alt="")
          span Search